body {
  /* background-color: #34495e; */
  background-image: url("assets/images/pexels-victorfreitas-841130\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login {
  width: 500px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: rgba(198, 198, 198, 0.7);
  text-align: center;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
}

.input-login {
  font-size: 44px;
  color: #4a4a4a;
  margin-top: 30px;
  margin-bottom: 30px;
}
.input-signIn {
  font-size: 44px;
  color: #4a4a4a;
  margin-top: 5px;
  margin-bottom: 10px;
}

.input-container {
  position: relative;
  margin: 15px 0;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.input-container img {
  align-content: center;
  justify-content: center;
}

.input-container input {
  height: 50px;
  width: 70%;
  padding-left: 30px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  background-color: #fff;
}

.remember {
  display: flex;
  align-items: center;
  margin: 20px;
}

button {
  /* background-color: #0071e3; */
  background-color: #4a4a4a;
  color: #fff;
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #1e3a8a;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.options a {
  color: #0071e3;
  text-decoration: none;
  font-weight: bold;
}
.options a:hover {
  text-decoration: underline;
  color: #1e3a8a;
}
p {
  font-size: 14px;
  /* color: #555; */
  color: rgb(0, 0, 0);
}
p a {
  color: #3b82f6;
  text-decoration: none;
  font-weight: bold;
}
p a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .login {
    width: 90%;
    height: auto;
    padding: 15px;
  }
  h1 {
    font-size: 30px;
  }
  .input-container img {
    width: 5%;
    height: auto;
  }
  .input-container input {
    width: 70%;
    height: fit-content;
  }
  button {
    width: 100%;
  }
}
/* @media (min-width: 601px) and (max-width: 900px) {
  .login {
    width: 90%;
    height: auto;
    padding: 15px;
  }
  h1 {
    font-size: 30px;
  }
  .input-container img {
    width: 5%;
    height: auto;
  }
  .input-container input {
    width: 70%;
    height: fit-content;
  }
  button {
    width: 100%;
  }
} */
